/* src/LocalPage.css */

.local-page-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.content {
    display: flex;
}

.left {
    flex: 1;
    padding-right: 20px;
}

.right {
    flex: 1;
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.image-container img {
    width: 30%;
    /* Adjust image size */
}